{% set imagem = fields.field_icone.content|striptags|trim %}
{% set link   = fields.view_node.content|striptags %}


<a href="{{ link }}" class="card-body text-center theme-blue-link" >
  <img class="img-fluid mb-3" src="{{ imagem==""?theme_path~'/images/logo.png':imagem }}" alt="{{ fields.title.content }}">
  <h5 class="card-title">{{ fields.title.content }}</h5>
  <h6 class="card-title">{{ fields.created.content }}</h6>
  <p class="card-text">{{ fields.field_descricao_breve.content }}</p>

</a>
